site_name: A Guide to Setting Up a Many-Body Computational Research Environment
site_url: https://chriswenchen.github.io/guide-env-setup/
use_directory_urls: true

theme:
  name: material
  language: en

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          build: true
          default: true
        - locale: zh
          name: 中文
          build: true
          site_name: 多体计算研究环境搭建指南
          nav:
            - 首页: index.md

nav:
  - Home: index.md


